.react-tabs__tab-list {
    border-bottom: solid 1px var(--color-darkGrey);
    margin: 0 0 30px;
    padding: 0;
    width:100%;
    text-align: center;

}

.react-tabs__tab {
    display: inline-block;
    position: relative;
    /* width: 25%; */
    text-align: center;
    list-style: none;
    padding: 28.2px;
    cursor: pointer;
}

.react-tabs__tab--selected {
    border-bottom: solid 2px var(--color-primary);
    color: var(--font-color);
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}