.App {
  text-align: center;
}

:root {
  --bg-color: #ffffff;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #14854F;
  /* --color-lightGrey: #d2d6dd; */
  --color-lightGrey: #bdc3c7;
  /* --color-grey: #747681; */
  --color-grey: #95a5a6;
  /* --color-darkGrey: #3f4144; */
  --color-darkGrey: #7f8c8d;
  --color-error: #d43939;
  /* --color-error: #e74c3c; */
  /* --color-success: #28bd14; */
  --color-success: #2ecc71;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #333333;
  --font-family-sans: sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

.avatar-circle {
  width: 40px;
  height: 40px;
  background-color: #2c3e50;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.initials {
  position: relative;
  top: 10px; /* 25% of parent */
  font-size: 20px; /* 50% of parent */
  line-height: 20px; /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.card-drop {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

#caret {
  position: absolute;
  right: 40px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 44px;
  height: 44px;
  margin: 10px;
  border-radius: 50%;
  border: 3px solid #14854F;
  border-color: #14854F transparent #14854F transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}